@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #111111;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #FFA02B, #FF5968, #C71BDB, #2E86C1);
    border-radius: 100vh;
    border: 1px solid #111111;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #FFA02B, #FF5968, #C71BDB, #2E86C1);
}
